/*
.block-line[data-block] {
  position: relative;
  margin-top: 36px;
}

.block-line[data-block]:before {
  content: attr(data-block);
  font-size: 14px;
  line-height: 18px;
  color: #ccc;
  position: absolute;
  top: -18px;
}
*/

.navbar {
  height: 125px;
  min-height: 125px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.navbar > .container {
  align-items: center;
}

.navbar-brand {
  padding: 16px;
}

.navbar-burger {
  align-self: center;
}

.user-menu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu-initials {
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.primary-gradient {
  color: #fff;
  background: linear-gradient(225deg, #4FFBB3 0%, #19A4D7 100%);
}

.navbar-menu {
  background: #f8f8f8;

  & a {
    display: inline-block;
    color: #000;
    padding: 7px 12px 5px;
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &.is-active {
      border-bottom-color: #19A4D7;
    }
  }
}


@media screen and (max-width: 1024px) {
  .navbar {
    height: 90px;
    min-height: 90px;
  }

  .navbar-menu a {
    display: block;
  }
}
