// Por exemplo, setando a variável $link para red deixará os elementos com classe "is-link" vermelhos
// $link: red;

// Set your brand colors
$blue: #0060df;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;
// $grey-lighter: #E7E7E7;

// Update Bulma's global variables
$family-sans-serif: 'Poppins', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $blue;
// $warning: $yellow;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $has-background-info: ;
// $body-background-color: $beige-lighter;
$control-border-width: 2px;

/* Input */
// $input-border-color: #DADADA;
// $input-focus-border-color: $brown;
$input-shadow: none;

/* Progressbar */
// $progress-value-background-color: #9BBADD;
// $progress-bar-background-color: $grey-lighter;
// $progress-border-radius: 5px;
