<script>
  import { user, authToken, views } from '../../../store'
  import { push, location } from 'svelte-spa-router'
  import { getLabel, buildURL, getInitials } from '../../../utils/view-helper'
  import logo from '../../../images/supernova_4.png'

  // let modalClass = ''
  let groupedViews = {}

  let isNavbarActive = false
  let isUserMenuActive = false
  let isSetupMenuActive = false

  function logout ($event) {
    $event.preventDefault()
    user.set(null)
    authToken.set(null)
    localStorage.removeItem('user')
    localStorage.removeItem('authToken')
    push('/login')
  }

  // function toggleCredits () {
  //   modalClass = !modalClass ? 'is-active' : ''
  // }

  $: if ($views) {
    $views.forEach(view => {
      if (!view.showOnMenu || !view.MenuSection) {
        return
      }
      
      if (!groupedViews[view.MenuSection.labelKey]) {
        groupedViews[view.MenuSection.labelKey] = []
      }
      
      groupedViews[view.MenuSection.labelKey].push(view)
    })
  }
</script>

<nav class="navbar flex-column">
  <div class="container">
    <div class="navbar-brand">
      <img src={logo} alt="Supernova" width="58px" height="58px">

      <a href="javascript: void(0)" role="button" class="navbar-burger {isNavbarActive ? 'is-active' : ''}" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" on:click={() => isNavbarActive = !isNavbarActive}>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="flex-grow"></div>
    
    {#if $user.Role.level === 1}
      <div class="is-hidden-touch dropdown mx-2 is-right {isSetupMenuActive ? 'is-active' : ''}">
        <div class="dropdown-trigger" on:click={() => isSetupMenuActive = !isSetupMenuActive}>
          <button class="button" aria-haspopup="true">
            <span>Setup</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>

        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {#if groupedViews.SetupMenuSection}
              {#each groupedViews.SetupMenuSection as item}
                <a href="#{item.slug}" class="dropdown-item {`${item.slug}` === $location ? 'is-active' : ''}" on:click={() => isSetupMenuActive = !isSetupMenuActive}>
                  {getLabel(item.labelKey)}
                </a>
              {/each}
            {/if}
          </div>
        </div>
      </div>
    {/if}
    
    {#if $user}
      <div class="is-hidden-touch dropdown is-right {isUserMenuActive ? 'is-active' : ''}">
        <div class="dropdown-trigger" on:click={() => isUserMenuActive = !isUserMenuActive}>
          {#if $user.photo}
            <div class="user-menu">
              <div>
                <figure class="image is-40x40">
                  <img src={buildURL($user.photo)} alt="" class="is-rounded">
                </figure>
              </div>
            </div>
          {:else}
            <div class="user-menu primary-gradient">
              <div class="user-menu-initials">
                {getInitials($user.name)}
              </div>
            </div>
          {/if}
        </div>

        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="#/users_form/{$user.id}" class="dropdown-item" on:click={() => isUserMenuActive = !isUserMenuActive}>{getLabel('profile')}</a>

            <hr class="dropdown-divider">

            <a href="javascript: void()" class="dropdown-item" on:click={logout}>
              {getLabel('logout')}
            </a>
          </div>
        </div>
      </div>
    {/if}
  </div>

  <div class="navbar-menu {isNavbarActive ? 'is-active' : ''}">
    <div class="container">
      {#if groupedViews.PrimaryMenuSection}
        {#each groupedViews.PrimaryMenuSection as item}
          <a href="#{item.slug}" class="{`${item.slug}` === $location ? 'is-active' : ''}">
            {getLabel(item.labelKey)}
          </a>
        {/each}
      {/if}

      <div class="is-hidden-desktop">
        {#if $user.Role.level === 1}
          {#if groupedViews.SetupMenuSection}
            <hr class="dropdown-divider">
            
            {#each groupedViews.SetupMenuSection as item}
              <a href="#{item.slug}" class="dropdown-item {`${item.slug}` === $location ? 'is-active' : ''}" on:click={() => isSetupMenuActive = !isSetupMenuActive}>
                {getLabel(item.labelKey)}
              </a>
            {/each}
          {/if}
        {/if}

        <hr class="dropdown-divider">

        <a href="#/users_form/{$user.id}">{getLabel('profile')}</a>

        <hr class="dropdown-divider">
        <a href="javascript: void()" on:click={logout}>
          {getLabel('logout')}
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- 
<div class="modal {modalClass}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Credits</p>
      <button class="delete" aria-label="close" on:click={toggleCredits}></button>
    </header>

    <section class="modal-card-body">
      <p>
        Supernova Logo made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>

      <p>Bulma CSS framework: <a href="https://bulma.io">https://bulma.io</a></p>
      <p>Sequelize ORM: <a href="https://sequelize.org/">https://sequelize.org/</a></p>
      <p>ExpressJS: <a href="https://expressjs.com/">https://expressjs.com/</a></p>
    </section>

    <footer class="modal-card-foot">
      <button class="button" on:click={toggleCredits}>Close</button>
    </footer>
  </div>
</div> 
-->
