<script>
  import { get } from '../../utils/request'
  import { push } from 'svelte-spa-router'

  export let view
  export let id

  push('/costumer')
</script>

<div class="container p-3">
  <!-- <h1>Be welcome to Supernova!</h1> -->
</div>
